<div class="container">
  <div class="controls">
      <div class="row">
          <div class="logout col-12 col-sm-6 col-md-6 col-lg-4">
              <a class="btn btn-primary" routerLink="/logout">Logout</a>
          </div>
          <div class="search col-12 col-sm-6 col-md-6 col-lg-8">
              <input placeholder="Search..." [(ngModel)]="searchQuery">
          </div>
      </div>
  </div>
  <div class="tweets">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let tweet of tweets | searchFilter:searchQuery">
          <app-tweet [tweet]="tweet"></app-tweet>
      </div>
    </div>
  </div>
</div>
<app-alerts></app-alerts>
<router-outlet></router-outlet>
